In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from requests import get

In [2]:
import selenium

In [3]:
from selenium import webdriver
import chromedriver_autoinstaller
import time
import pandas as pd
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [4]:
# 이 코드 오류떠서 Chrome Driver 직접 다운 받아서 사용
chrome_ver = chromedriver_autoinstaller.get_chrome_version().split('.')[0]
print(chrome_ver)

120

# 서울시 팝업스토어

In [14]:
try:
    crawler = webdriver.Chrome()
except:
    chromedriver_autoinstaller.install(True)
    crawler = webdriver.Chrome()
crawler.implicitly_wait(3)
crawler.get('https://shareit.kr')

In [15]:
from selenium.webdriver.common.keys import Keys

#일하러왔어요
crawler.find_element('xpath','//*[@id="__next"]/div[2]/div[1]/button').click()

#팝업스토어
crawler.find_element('xpath','//*[@id="__next"]/div[4]/div[2]/div[2]/ul/li[8]/button').click()

#서울특별시
crawler.find_element('xpath','//*[@id="__next"]/div[3]/div[4]/div[1]/div/div/div[1]/div/div').click()
crawler.find_element('xpath','//*[@id="__next"]/div[3]/div[4]/div[2]/div/div/div/div[2]/div/div[2]/div[1]').click()

#필터적용
crawler.find_element('xpath','//*[@id="__next"]/div[3]/div[4]/div[2]/div/div/div/div[4]/div/button[2]').click()

In [2]:
names = []
prices = []
addresses = []
units = []

while True:
    bh = crawler.execute_script('return document.body.scrollHeight') #브라우저 처음 높이 (스크롤 시작)
    time.sleep(1)
    crawler.execute_script('window.scrollTo(0, document.body.scrollHeight)')
    time.sleep(1)
    ah = crawler.execute_script('return document.body.scrollHeight')
    if ah == bh:
        break
    bh = ah
    
infos = crawler.find_elements(By.CSS_SELECTOR, ".SpaceItemstyle__Container-sc-1wddfv-5.kjjHma")
print(infos)
for info in infos:
    try:
        # 장소 이름 추출
        name = info.find_element(By.CSS_SELECTOR, "p.SpaceItemstyle__SpaceName-sc-1wddfv-13.jSNaYt").text
        names.append(name)

        # 주소 추출
        address = info.find_element(By.CSS_SELECTOR, "p.SpaceItemstyle__Address-sc-1wddfv-15.ijNkov").text
        addresses.append(address)

        # 가격 추출
        price = info.find_element(By.CSS_SELECTOR, "span.SpaceItemstyle__Price-sc-1wddfv-18.eXIEPQ").text
        prices.append(price)
        
        # 단위 추출
        unit = info.find_element(By.CSS_SELECTOR, "span.SpaceItemstyle__RuleType-sc-1wddfv-19.bblVi").text
        units.append(unit)
                
        
        print(names, addresses, prices, units)
        
    except Exception as e:
        print('Exception:', e)

In [1]:
# 크롤링으로 켜진 SHARE IT 사이트 화면을 최대화 시킨 후 실행해야 함!!!!!!!!!!!!!
# 마지막까지 돌아가고나면 IndexError: list index out of range 에러 뜨는게 맞음

real_addresses = []
areas = []
garos = []
seros = []
highs = []
people = []

crawler.execute_script('window.scrollTo(0, 0)')
after_location = crawler.execute_script("return window.pageYOffset")
i = 0
while i <= len(names):
    infos[i].find_element(By.CSS_SELECTOR, "p.SpaceItemstyle__SpaceItem-sc-1wddfv-0 fQSBZt").click()
    crawler.switch_to.window(crawler.window_handles[-1])  #새로 연 탭으로 이동
    real_address = crawler.find_elements(By.CSS_SELECTOR, "#__next > div.SpaceDetailstyle__Container-sc-1pyu58q-0.hA-dOsd > div.SpaceDetailstyle__SpaceDetailContainer-sc-1pyu58q-1.jsPPGy > div.SpaceDetailstyle__LeftContainer-sc-1pyu58q-2.jZGCgc > div.SpaceInformationstyle__SpaceInformation-sc-uwmecf-0.cbxaHw > div.Locationstyle__Location-sc-15oueil-0.bUYdqb > figure > figure")[0].text
    garo = crawler.find_elements(By.CSS_SELECTOR,"#__next > div.SpaceDetailstyle__Container-sc-1pyu58q-0.hA-dOsd > div.SpaceDetailstyle__SpaceDetailContainer-sc-1pyu58q-1.jsPPGy > div.SpaceDetailstyle__LeftContainer-sc-1pyu58q-2.jZGCgc > div.SpaceInformationstyle__SpaceInformation-sc-uwmecf-0.cbxaHw > div.Equipmentsstyle__Equipments-sc-1k4l5np-0.eFhuLf > div.BasicInformationsstyle__BasicInformationTable-sc-1poyapl-0.ckHcNl > div:nth-child(1) > span.BasicInformationsstyle__Content-sc-1poyapl-3.kfWwiW").text
#     sero = crawler.find_elements(By.CSS_SELECTOR,"div.BasicInformationsstyle__Information-sc-1poyapl-1:nth-of-type(3) span.BasicInformationsstyle__Content-sc-1poyapl-3.kfWwiW").text
#     high = crawler.find_elements(By.CSS_SELECTOR,"div.BasicInformationsstyle__Information-sc-1poyapl-1:nth-of-type(4) span.BasicInformationsstyle__Content-sc-1poyapl-3.kfWwiW").text
#     man = crawler.find_elements(By.CSS_SELECTOR,"div.BasicInformationsstyle__Information-sc-1poyapl-1:nth-of-type(5) span.BasicInformationsstyle__Content-sc-1poyapl-3.kfWwiW").text
     crawler.close()  #링크 이동 후 탭 닫기
    crawler.switch_to.window(crawler.window_handles[-1])  #다시 이전 창(탭)으로 이동
    real_addresses.append(real_address)
    areas.append(area)
    garos.append(garo)
#     seros.append(sero)
#     highs.append(high)
#     people.append(man)
    if (i+1) % 4 == 0:
        crawler.execute_script("window.scrollTo(0,{})".format(after_location + 353))
        time.sleep(3)
    
    i += 1
    
    after_location = crawler.execute_script("return window.pageYOffset")

In [ ]:
garo

In [20]:
real_addresses

[]

In [328]:
print(len(names), len(addresses), len(real_addresses), len(prices), len(units))

366 366 366 366 348

In [330]:
# Units가 18개 적은 이유 = Prices가 별도문의이면 Units가 없음
prices.count('별도문의')

18

In [332]:
df = pd.DataFrame({'name':names, 'add':addresses, 'read_add':real_addresses, 'price':prices})

In [333]:
df

,name,add,read_add,price
0,홍대입구역 홍대 정문 팝업 통건물 by SHARE.IT,서울 마포구,서울 마포구 와우산로 101 전체,"10,000,000원~"
1,성수 팝업 서울숲 위팝 1st by SHARE.IT,서울 성동구,서울 성동구 서울숲4길 20 1층 위팝,"800,000원~"
2,성수 팝업 서울숲 위팝 2nd by SHARE.IT,서울 성동구,서울 성동구 서울숲4길 26 1층,"900,000원~"
3,성수 팝업 연무장 온더무브 by SHARE.IT,서울 성동구,서울 성동구 연무장길 13 1층,"900,000원~"
4,성수 서울숲 팝업 건물 통대관 by SHARE.IT,서울 성동구,서울 성동구 서울숲4길 15-1 통건물,"6,000,000원~"
...,...,...,...,...
361,우사단길 전통주점,서울 용산구,서울 용산구 우사단로10길 79-1 1층,별도문의
362,(성수/팝업) 성수동 인근 공실 1~3층+루프탑,서울 성동구,서울 성동구 뚝섬로9길 4,"4,000,000원~"
363,패션 브랜드 팝업스토어 홍대,서울 마포구,서울 마포구 양화로12길 16-9 1층,"1,500,000원~"
364,서울숲 모어스 통대관,서울 성동구,서울 성동구 서울숲4길 18-10,"3,000,000원~"
365,신사하우스,서울 강남구,서울 강남구 강남대로162길 27 신사하우스,"5,000,000원~"

In [335]:
df[df['price'] == '별도문의']

                      name     add                            read_add price
76               홍대 갤러리 공간  서울 마포구                   서울 마포구 홍익로 5-1 지층  별도문의
93            청담 앤틱 테마 행사장  서울 강남구    서울 강남구 도산대로55길 26 지하 1층 공유먼트 청담점  별도문의
106             신사 팝업 컨테이너  서울 강남구                 서울 강남구 언주로148길 5 1층  별도문의
107           성수 카페 에롤파 3F  서울 성동구    서울 성동구 둘레7길 15 iamfoodstylist BD  별도문의
115             청담동 갤러리 공간  서울 강남구           서울 강남구 도산대로67길 19 힐탑빌딩 3층  별도문의
123            압구정로데오 행사공간  서울 강남구                 서울 강남구 선릉로 837 지하1층  별도문의
131             신사 문화공간/쇼룸  서울 강남구             서울 강남구 강남대로154길 24 202호  별도문의
136              강남 문화 라운지  서울 강남구            서울 강남구 봉은사로 226 더북컴퍼니 빌딩  별도문의
147              홍대 복합문화공간  서울 마포구         서울 마포구 월드컵북로4길 12 B1, 팀플레이스  별도문의
149               익선동 한옥카페  서울 종로구               서울 종로구 수표로28길 17-19 틈  별도문의
196  [압구정/팝업] 브런치 맛집 더 로투스  서울 강남구                서울 강남구 논현로167길 17 1층  별도문의
278              상수 역세권 술집  서울 마포구                서울 마포구 와우산로 28 1층 2호  별도문의
279            합정 실내외 행사공간  서울 마포구  서울 마포구 잔다리로3안길 21 서교동 395-111베이스캠프  별도문의
285           산울림소극장 카페 홍대  서울 마포구                     서울 마포구 와우산로 157  별도문의
313              건대입구 레스토랑  서울 광진구                서울 광진구 능동로 139 3층 송빠  별도문의
319    연남동 팝업스토어 -B급 프로젝트-  서울 마포구                서울 마포구 성미산로29길 39 2층  별도문의
347            이비스 호텔 로비공간  서울 강남구                      서울 강남구 삼성로 431  별도문의
361              우사단길 전통주점  서울 용산구              서울 용산구 우사단로10길 79-1 1층  별도문의

In [345]:
list(df[df['price'] == '별도문의'].index)

[76,
 93,
 106,
 107,
 115,
 123,
 131,
 136,
 147,
 149,
 196,
 278,
 279,
 285,
 313,
 319,
 347,
 361]

In [339]:
new_units = units.copy()

In [340]:
len(new_units)

348

In [341]:
new_units.insert(76, '/')
new_units.insert(93, '/')
new_units.insert(106, '/')
new_units.insert(107, '/')
new_units.insert(115, '/')
new_units.insert(123, '/')
new_units.insert(131, '/')
new_units.insert(136, '/')
new_units.insert(147, '/')
new_units.insert(149, '/')
new_units.insert(196, '/')
new_units.insert(278, '/')
new_units.insert(279, '/')
new_units.insert(285, '/')
new_units.insert(313, '/')
new_units.insert(319, '/')
new_units.insert(347, '/')
new_units.insert(361, '/')
len(new_units)

366

In [348]:
df = pd.DataFrame({'name':names, 'add':addresses, 'real_add':real_addresses, 'price':prices, 'unit':new_units})

In [349]:
df

,name,add,real_add,price,unit
0,홍대입구역 홍대 정문 팝업 통건물 by SHARE.IT,서울 마포구,서울 마포구 와우산로 101 전체,"10,000,000원~",/
1,성수 팝업 서울숲 위팝 1st by SHARE.IT,서울 성동구,서울 성동구 서울숲4길 20 1층 위팝,"800,000원~",/패키지 [23시간]
2,성수 팝업 서울숲 위팝 2nd by SHARE.IT,서울 성동구,서울 성동구 서울숲4길 26 1층,"900,000원~",/패키지 [23시간]
3,성수 팝업 연무장 온더무브 by SHARE.IT,서울 성동구,서울 성동구 연무장길 13 1층,"900,000원~",/패키지 [23시간]
4,성수 서울숲 팝업 건물 통대관 by SHARE.IT,서울 성동구,서울 성동구 서울숲4길 15-1 통건물,"6,000,000원~",/패키지 [23시간]
...,...,...,...,...,...
361,우사단길 전통주점,서울 용산구,서울 용산구 우사단로10길 79-1 1층,별도문의,/
362,(성수/팝업) 성수동 인근 공실 1~3층+루프탑,서울 성동구,서울 성동구 뚝섬로9길 4,"4,000,000원~",/패키지 [23시간]
363,패션 브랜드 팝업스토어 홍대,서울 마포구,서울 마포구 양화로12길 16-9 1층,"1,500,000원~",/패키지 [23시간]
364,서울숲 모어스 통대관,서울 성동구,서울 성동구 서울숲4길 18-10,"3,000,000원~",/패키지 [23시간]
365,신사하우스,서울 강남구,서울 강남구 강남대로162길 27 신사하우스,"5,000,000원~",/패키지 [23시간]

In [350]:
# unit에 '/' 잘 들어간 것 확인
df.loc[list(df[df['price'] == '별도문의'].index)]

,name,add,real_add,price,unit
76,홍대 갤러리 공간,서울 마포구,서울 마포구 홍익로 5-1 지층,별도문의,/
93,청담 앤틱 테마 행사장,서울 강남구,서울 강남구 도산대로55길 26 지하 1층 공유먼트 청담점,별도문의,/
106,신사 팝업 컨테이너,서울 강남구,서울 강남구 언주로148길 5 1층,별도문의,/
107,성수 카페 에롤파 3F,서울 성동구,서울 성동구 둘레7길 15 iamfoodstylist BD,별도문의,/
115,청담동 갤러리 공간,서울 강남구,서울 강남구 도산대로67길 19 힐탑빌딩 3층,별도문의,/
123,압구정로데오 행사공간,서울 강남구,서울 강남구 선릉로 837 지하1층,별도문의,/
131,신사 문화공간/쇼룸,서울 강남구,서울 강남구 강남대로154길 24 202호,별도문의,/
136,강남 문화 라운지,서울 강남구,서울 강남구 봉은사로 226 더북컴퍼니 빌딩,별도문의,/
147,홍대 복합문화공간,서울 마포구,"서울 마포구 월드컵북로4길 12 B1, 팀플레이스",별도문의,/
149,익선동 한옥카페,서울 종로구,서울 종로구 수표로28길 17-19 틈,별도문의,/
196,[압구정/팝업] 브런치 맛집 더 로투스,서울 강남구,서울 강남구 논현로167길 17 1층,별도문의,/
278,상수 역세권 술집,서울 마포구,서울 마포구 와우산로 28 1층 2호,별도문의,/
279,합정 실내외 행사공간,서울 마포구,서울 마포구 잔다리로3안길 21 서교동 395-111베이스캠프,별도문의,/
285,산울림소극장 카페 홍대,서울 마포구,서울 마포구 와우산로 157,별도문의,/
313,건대입구 레스토랑,서울 광진구,서울 광진구 능동로 139 3층 송빠,별도문의,/
319,연남동 팝업스토어 -B급 프로젝트-,서울 마포구,서울 마포구 성미산로29길 39 2층,별도문의,/
347,이비스 호텔 로비공간,서울 강남구,서울 강남구 삼성로 431,별도문의,/
361,우사단길 전통주점,서울 용산구,서울 용산구 우사단로10길 79-1 1층,별도문의,/

In [351]:
df.to_csv('popup_space_info.csv', index=False, encoding='utf-8-sig')

# 서울시 팝업스토어 - 학교ver

In [115]:
try:
    crawler = webdriver.Chrome()
except:
    chromedriver_autoinstaller.install(True)
    crawler = webdriver.Chrome()
crawler.implicitly_wait(10)
crawler.get('https://shareit.kr')

In [116]:
from selenium.webdriver.common.keys import Keys

#일하러왔어요
crawler.find_element('xpath','//*[@id="__next"]/div[2]/div[1]/button').click()

#팝업스토어_학교
crawler.find_element('xpath','//*[@id="__next"]/div[4]/div[2]/div[2]/ul/li[9]/button').click()

#서울특별시
crawler.find_element('xpath','//*[@id="__next"]/div[3]/div[4]/div[1]/div/div/div[1]/div/div').click()
crawler.find_element('xpath','//*[@id="__next"]/div[3]/div[4]/div[2]/div/div/div/div[2]/div/div[2]/div[1]').click()

#필터적용
crawler.find_element('xpath','//*[@id="__next"]/div[3]/div[4]/div[2]/div/div/div/div[4]/div/button[2]').click()

In [117]:
names = []
prices = []
addresses = []
units = []

while True:
    bh = crawler.execute_script('return document.body.scrollHeight') #브라우저 처음 높이 (스크롤 시작)
    time.sleep(5)
    crawler.execute_script('window.scrollTo(0, document.body.scrollHeight)')
    time.sleep(10)
    ah = crawler.execute_script('return document.body.scrollHeight')
    if ah == bh:
        break
    bh = ah
    
infos = crawler.find_elements(By.CSS_SELECTOR, ".SpaceItemstyle__Container-sc-1wddfv-5.kjjHma")
for info in infos:
    try:
        # 장소 이름 추출
        name = info.find_element(By.CSS_SELECTOR, "p.SpaceItemstyle__SpaceName-sc-1wddfv-13.jSNaYt").text
        names.append(name)

        # 주소 추출
        address = info.find_element(By.CSS_SELECTOR, "p.SpaceItemstyle__Address-sc-1wddfv-15.ijNkov").text
        addresses.append(address)

        # 가격 추출
        price = info.find_element(By.CSS_SELECTOR, "span.SpaceItemstyle__Price-sc-1wddfv-18.eXIEPQ").text
        prices.append(price)
        
        # 단위 추출
        unit = info.find_element(By.CSS_SELECTOR, "span.SpaceItemstyle__RuleType-sc-1wddfv-19.bblVi").text
        units.append(unit)
        
        print(names, addresses, prices, units)
        
    except Exception as e:
        print('Exception:', e)

['다목적 홀'] ['서울 서대문구'] ['77,000원~'] ['/1시간 [4시간부터]']
['다목적 홀', '야외시설 농구장'] ['서울 서대문구', '서울 서대문구'] ['77,000원~', '165,000원~'] ['/1시간 [4시간부터]', '/1시간 [4시간부터]']
['다목적 홀', '야외시설 농구장', '미술관 전시실'] ['서울 서대문구', '서울 서대문구', '서울 동대문구'] ['77,000원~', '165,000원~', '0원~'] ['/1시간 [4시간부터]', '/1시간 [4시간부터]', '/1시간 [8시간부터]']
['다목적 홀', '야외시설 농구장', '미술관 전시실', '만해광장 만해광장'] ['서울 서대문구', '서울 서대문구', '서울 동대문구', '서울 중구'] ['77,000원~', '165,000원~', '0원~', '220,000원~'] ['/1시간 [4시간부터]', '/1시간 [4시간부터]', '/1시간 [8시간부터]', '/1시간 [4시간부터]']

In [119]:
df_school = pd.DataFrame({'name':names, 'add':addresses, 'price':prices, 'unit':units})
df_school

        name      add      price          unit
0      다목적 홀  서울 서대문구   77,000원~  /1시간 [4시간부터]
1   야외시설 농구장  서울 서대문구  165,000원~  /1시간 [4시간부터]
2    미술관 전시실  서울 동대문구        0원~  /1시간 [8시간부터]
3  만해광장 만해광장    서울 중구  220,000원~  /1시간 [4시간부터]

In [120]:
popup_tot = pd.concat([df, df_school], ignore_index=True)

In [121]:
popup_tot

                               name      add         price          unit
0    홍대입구역 홍대 정문 팝업 통건물 by SHARE.IT   서울 마포구  10,000,000원~             /
1      성수 팝업 서울숲 위팝 1st by SHARE.IT   서울 성동구     800,000원~   /패키지 [23시간]
2      성수 팝업 서울숲 위팝 2nd by SHARE.IT   서울 성동구     900,000원~   /패키지 [23시간]
3        성수 팝업 연무장 온더무브 by SHARE.IT   서울 성동구     900,000원~   /패키지 [23시간]
4      성수 서울숲 팝업 건물 통대관 by SHARE.IT   서울 성동구   6,000,000원~   /패키지 [23시간]
..                              ...      ...           ...           ...
366                           신사하우스   서울 강남구   5,000,000원~   /패키지 [23시간]
367                           다목적 홀  서울 서대문구      77,000원~  /1시간 [4시간부터]
368                        야외시설 농구장  서울 서대문구     165,000원~  /1시간 [4시간부터]
369                         미술관 전시실  서울 동대문구           0원~  /1시간 [8시간부터]
370                       만해광장 만해광장    서울 중구     220,000원~  /1시간 [4시간부터]

[371 rows x 4 columns]

In [124]:
popup_tot.to_csv('popup_space_info.csv', index=False, encoding='utf-8-sig')