## 202306 통계 데이터 활용대회 PREP_파일전처리

#### 작성자 : 신주연
### 사용 데이터

- 한국관광데이터랩
    - 서울 경기 인천
    - 인기 관광지 (전체, 내지인, 외지인)
    - 내국인 관심 관광지, 
    - 외국인 관심 관광지 (영어, 일어, 중어)
    - https://datalab.visitkorea.or.kr/datalab/portal/main/getMainForm.do


- 공공데이터포털
    - 전통시장 데이터

### 한국관광데이터랩 데이터 전처리

In [1]:
import zipfile
import os
import glob

import pandas as pd

In [2]:
list_zip = glob.glob('data/**.zip')
print(list_zip)

for i in list_zip:
    zipfile.ZipFile(i).extractall()
    
list_csv = glob.glob('**.csv')
print(list_csv)

['data\\20230620232743_서울특별시_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222252_서울특별시_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222307_서울특별시_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222337_경기도_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222404_경기도_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222415_경기도_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222453_인천광역시_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222508_인천광역시_202206-202305_데이터랩_다운로드.zip', 'data\\20230621222516_인천광역시_202206-202305_데이터랩_다운로드.zip', 'data\\20230623141303_서울특별시_202206-202305_데이터랩_다운로드.zip', 'data\\20230623141319_경기도_202206-202305_데이터랩_다운로드.zip', 'data\\20230623141339_인천광역시_202206-202305_데이터랩_다운로드.zip']
['20230620232743_인기관광지_외지인.csv', '20230620232743_인기관광지_전체.csv', '20230620232743_인기관광지_현지인.csv', '20230621222252_내국인 관심 관광지.csv', '20230621222307_외국인 관심 관광지_영어권.csv', '20230621222307_외국인 관심 관광지_일본어.csv', '20230621222307_외국인 관심 관광지_중간체.csv', '20230621222307_외국인 관심 관광지_중번체.csv', '20230621222337_인기관광지_외지인.csv', '20230621222337_인기관광지_전체.csv', '20230621222337_인기관광지_현지인.csv', '20230621222404_내국인 관심 관광지.csv', '20230621222415_외국인 관심 관광지_영어권.csv', '20230621222415_외국인 관심 관광지_일본어.csv', '20230621222415_외국인 관심 관광지_중간체.csv', '20230621222415_외국인 관심 관광지_중번체.csv', '20230621222453_인기관광지_외지인.csv', '20230621222453_인기관광지_전체.csv', '20230621222453_인기관광지_현지인.csv', '20230621222508_내국인 관심 관광지.csv', '20230621222516_외국인 관심 관광지_영어권.csv', '20230621222516_외국인 관심 관광지_일본어.csv', '20230621222516_외국인 관심 관광지_중간체.csv', '20230621222516_외국인 관심 관광지_중번체.csv', '20230623141303_방문자 성연령별 분포.csv', '20230623141319_방문자 성연령별 분포.csv', '20230623141339_방문자 성연령별 분포.csv', 'capital_market.csv', 'pop.csv', 'pop_lofor.csv', 'traditionalmarket.csv', '경기도_방문자 성연령별 분포.csv', '공연지역 유동인구 추정 분석정보.csv', '서울_방문자 성연령별 분포.csv', '소상공인시장진흥공단_시장 점포수 종사자_20191231.csv', '소상공인시장진흥공단_전통시장현황_20220603.csv', '인천_방문자 성연령별 분포.csv']

In [3]:
def mk_sido(data):
    add_list = []
    for i in range(len(data)):
        add_list.append(data['주소'][i][:2])
    data['시도'] = add_list
    return data

In [4]:
def mk_sort(data):
    data = data.sort_values(data.columns[4], ascending=False, ignore_index=True)
    return data

In [5]:
def mk_df(name, sido = True):
    df = pd.DataFrame()
    list_csv = glob.glob(name)
    for i in list_csv:
        data = pd.read_csv(i, encoding='cp949')
        df = pd.concat([df,data],axis=0, ignore_index=True)
        
    
    if sido == True:
        df = mk_sido(df)
        df = mk_sort(df)
        df.columns = ['순위','관광지명','주소','분류','검색수','시도']
       
    return df

In [6]:
pop_out = mk_df('*_인기관광지_외지인.csv')
pop_in = mk_df('*_인기관광지_현지인.csv')
pop_all = mk_df('*_인기관광지_전체.csv')

pop_local = mk_df('*_내국인 *.csv',sido=False)
pop_for = mk_df('*_외국인 *.csv',sido=False)

In [7]:
pop_out.head(3)

   순위           관광지명                 주소    분류      검색수  시도
0   1  인천국제공항제1여객터미널    인천 중구 공항로 272-0  교통시설  2223643  인천
1   1         스타필드하남  경기 하남시 미사대로 750-0   쇼핑몰  1945622  경기
2   1      김포국제공항국내선   서울 강서구 하늘길 111-0  교통시설  1671746  서울

In [8]:
pop_out['종류'] = '외지인'
pop_in['종류'] = '현지인'
pop_all['종류'] = '전체'

pop = pd.DataFrame()
pop = pd.concat([pop,pop_out,pop_in,pop_all],axis=0)
pop.head(3)

   순위           관광지명                 주소    분류      검색수  시도   종류
0   1  인천국제공항제1여객터미널    인천 중구 공항로 272-0  교통시설  2223643  인천  외지인
1   1         스타필드하남  경기 하남시 미사대로 750-0   쇼핑몰  1945622  경기  외지인
2   1      김포국제공항국내선   서울 강서구 하늘길 111-0  교통시설  1671746  서울  외지인

In [9]:
pop_local.head(3)

,시군구명,시도명,관광지명,Unnamed: 3,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,중구,서울특별시,동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,성동구,서울특별시,서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,종로구,서울특별시,익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833

In [10]:
pop_for.head(3)

,언어명,시군구명,시도명,관광지명,Unnamed: 4,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,사용자방문건수
0,영어권,종로구,서울특별시,Gyeongbokgung Palace (경복궁),https://english.visitkorea.or.kr/enu/ATR/SI_EN...,인문(문화/예술/역사),역사관광지,고궁,47844
1,영어권,종로구,서울특별시,Bukchon Hanok Village (북촌한옥마을),https://english.visitkorea.or.kr/enu/ATR/SI_EN...,인문(문화/예술/역사),역사관광지,민속마을,36092
2,영어권,종로구,서울특별시,Insa-dong (인사동),https://english.visitkorea.or.kr/enu/ATR/SI_EN...,인문(문화/예술/역사),산업관광지,기타,28068

In [11]:
pop_local.insert(0,'언어명','국어권')
pop_local.head(5)

,언어명,시군구명,시도명,관광지명,Unnamed: 3,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,국어권,성동구,서울특별시,서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,국어권,종로구,서울특별시,익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833
3,국어권,종로구,서울특별시,경복궁,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),역사관광지,고궁,11542
4,국어권,종로구,서울특별시,창덕궁과 후원 [유네스코 세계문화유산],https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),역사관광지,고궁,8944

In [12]:
pop_local.columns  = ['언어명', '시군구명', '시도명', '관광지명','웹사이트', 
                      'KTO카테고리대분류명', 'KTO카테고리중분류명', 'KTO카테고리소분류명', '방문자수']
pop_for.columns = ['언어명', '시군구명', '시도명', '관광지명','웹사이트',
                   'KTO카테고리대분류명', 'KTO카테고리중분류명', 'KTO카테고리소분류명', '방문자수']

pop_lofor = pd.concat([pop_local,pop_for],axis=0)
pop_lofor.head(3)

,언어명,시군구명,시도명,관광지명,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,국어권,성동구,서울특별시,서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,국어권,종로구,서울특별시,익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833

In [13]:
pop_local.columns

Index(['언어명', '시군구명', '시도명', '관광지명', '웹사이트', 'KTO카테고리대분류명', 'KTO카테고리중분류명',
       'KTO카테고리소분류명', '방문자수'],
      dtype='object')

In [14]:
pop_lofor.to_csv('pop_lofor.csv',index=False)
pop.to_csv('pop.csv',index=False)

### 공공데이터포털 데이터 전처리

In [6]:
market = pd.read_csv('소상공인시장진흥공단_전통시장현황_20220603.csv',encoding='cp949')
market.head(3)

,시장(상점가명),시장유형,주소(도로명),주소(지번),시장개설주기,점포수,취급품목,홈페이지주소,공중화장실보유여부,주차장보유여부
0,강남시장,상설장,서울특별시 강남구 압구정로 2길 46,서울특별시 강남구 신사동 510-11,매일,70,"농산물,축산물,가공식품,의류/신발,기타소매업",NaN,Y,Y
1,신사상가,상설장,서울특별시 강남구 압구정로29길 72-1,서울특별시 강남구 압구정동 454,매일,90,"농산물,수산물,가공식품,의류/신발",NaN,Y,N
2,영동전통시장,상설장,서울특별시 강남구 강남대로 128길 20 영동프라자 2동 204호,서울특별시 강남구 논현동 140,매일,110,"축산물,가공식품,의류/신발,기타소매업",NaN,Y,Y

In [7]:
sido = []
for i in range(len(market)):
    sp = market['주소(도로명)'][i].split(' ')[0]
    sido.append(sp)
    
market['시도']=sido
market.head(3)

,시장(상점가명),시장유형,주소(도로명),주소(지번),시장개설주기,점포수,취급품목,홈페이지주소,공중화장실보유여부,주차장보유여부,시도
0,강남시장,상설장,서울특별시 강남구 압구정로 2길 46,서울특별시 강남구 신사동 510-11,매일,70,"농산물,축산물,가공식품,의류/신발,기타소매업",NaN,Y,Y,서울특별시
1,신사상가,상설장,서울특별시 강남구 압구정로29길 72-1,서울특별시 강남구 압구정동 454,매일,90,"농산물,수산물,가공식품,의류/신발",NaN,Y,N,서울특별시
2,영동전통시장,상설장,서울특별시 강남구 강남대로 128길 20 영동프라자 2동 204호,서울특별시 강남구 논현동 140,매일,110,"축산물,가공식품,의류/신발,기타소매업",NaN,Y,Y,서울특별시

In [17]:
market_cap = pd.concat([market[market['시도'] == '서울특별시'],
                        market[market['시도'] == '경기도'],
                        market[market['시도'] == '인천광역시']],axis=0)

In [9]:
print(market['시도'].unique())
market.head(3)

['서울특별시' '신축' '부산광역시' '대구광역시' '인천광역시' '광주광역시' '대전광역시' '울산광역시' '경기도' '강원도'
 '충청북도' '충청남도' '전라북도' '전라남도' '경상북도' '경상남도' '제주특별자치도' '세종특별자치시']

,시장(상점가명),시장유형,주소(도로명),주소(지번),시장개설주기,점포수,취급품목,홈페이지주소,공중화장실보유여부,주차장보유여부,시도
0,강남시장,상설장,서울특별시 강남구 압구정로 2길 46,서울특별시 강남구 신사동 510-11,매일,70,"농산물,축산물,가공식품,의류/신발,기타소매업",NaN,Y,Y,서울특별시
1,신사상가,상설장,서울특별시 강남구 압구정로29길 72-1,서울특별시 강남구 압구정동 454,매일,90,"농산물,수산물,가공식품,의류/신발",NaN,Y,N,서울특별시
2,영동전통시장,상설장,서울특별시 강남구 강남대로 128길 20 영동프라자 2동 204호,서울특별시 강남구 논현동 140,매일,110,"축산물,가공식품,의류/신발,기타소매업",NaN,Y,Y,서울특별시

In [10]:
market.to_csv('market.csv', index=False)