- 중심 관광지에 시장이 있는 지 확인
- 인기 관광지에 시장이 있는 지 확인
- 내외국인 관심 관광지에 시장이 있는 지 확인

In [30]:
import pandas as pd

In [31]:
code_market_count = pd.read_csv('code_market_count.csv')
code_market_count.head(1)

,Unnamed: 0,시장(상점가명),시장유형,주소(도로명),주소(지번),시장개설주기,점포수,취급품목,홈페이지주소,공중화장실보유여부,...,market_pop_10,market_pop_lofor,market_pop_lofor_10,sido,sigungu,code,1km반경 내 역사의 수,500m반경 내 대규모점포 수,1km반경 내 대규모점포 수,300m반경 내 버스정류장 수
0,0,(유)문경시중앙시장,상설장,경상북도 문경시 중앙로 87,경상북도 문경시 점촌동 197-14,매일,38,"농산물,가공식품,기타소매업",NaN,Y,...,0.0,0.0,0.0,경북,문경시,37090,0,0,0,2

### 중심 관광지에 시장이 있는 지 확인

In [32]:
pop_centre = pd.read_excel('pop_centre.xlsx')
pop_centre.head(3)

         관광지명                  주소   Latitude   Longitude 중심카테고리명 대분류   순위
0      더현대/서울  서울 영등포구 여의대로 108-0  37.526050  126.928296     관광지  쇼핑  1.0
1  신세계백화점/강남점   서울 서초구 신반포로 176-0  37.504364  127.003621     관광지  쇼핑  2.0
2       타임스퀘어    서울 영등포구 영중로 15-0  37.517075  126.903341     관광지  쇼핑  3.0

In [33]:
def find_market_in_data(data,market_col):
    market = [i for i in data[market_col] if '시장' in i]
    market_in = data[data[market_col].isin(market)]
    return market_in

In [34]:
centre_yn = find_market_in_data(pop_centre,'관광지명')
centre_yn = centre_yn.reset_index(drop=True)
print(len(centre_yn))
centre_yn.head(3)

111

          관광지명                 주소   Latitude   Longitude 중심카테고리명 대분류    순위
0      노량진수산시장   서울 동작구 노들로 674-0  37.514742  126.937788     관광지  쇼핑  18.0
1  가락동농수산물도매시장  서울 송파구 양재대로 932-0  37.493482  127.111504     관광지  쇼핑  29.0
2         광장시장   서울 종로구 창경궁로 88-0  37.570283  126.998714     관광지  쇼핑  34.0

In [35]:
centre = []

for i in code_market_count['시장(상점가명)']:
    if i in list(centre_yn['관광지명']):
        centre.append(1)
    else:
        centre.append(0)
        
print(len(centre))
print(centre.count(1))
print(centre.count(0))

1314
55
1259

In [36]:
df_centre = pd.DataFrame(centre)
print(len(df_centre))
print(len(code_market_count))

1314
1314

In [37]:
market_centre = pd.concat([code_market_count['시장(상점가명)'], df_centre],axis=1)
market_centre.columns = ['시장(상점가명)','centry_yn']
market_centre

        시장(상점가명)  centry_yn
0     (유)문경시중앙시장          0
1         (주)서시장          0
2        (주)신정시장          0
3        (주)야음시장          0
4      (주)여수수산시장          0
...          ...        ...
1309        후생시장          0
1310        후암시장          0
1311        후포시장          0
1312      흥덕전통시장          0
1313        흥해시장          0

[1314 rows x 2 columns]

In [38]:
market_centre.to_csv('market_centre_yn.csv',index=F)

NameError: name 'F' is not defined

### 인기 관광지에 시장이 있는 지 확인

In [39]:
final_pop = pd.read_csv('final_pop.csv')
final_pop.head(3)

,순위,관광지명,주소,Latitude,Longitude,분류,검색수,시도,종류
0,1,인천국제공항제1여객터미널,인천 중구 공항로 272-0,37.479489,126.440914,교통시설,2223643,인천,외지인
1,1,스타필드하남,경기 하남시 미사대로 750-0,37.545485,127.223697,쇼핑몰,1945622,경기,외지인
2,1,김포국제공항국내선,서울 강서구 하늘길 111-0,37.555890,126.808109,교통시설,1671746,서울,외지인

In [40]:
pop_market = find_market_in_data(final_pop,'관광지명')
pop_market = pop_market.reset_index(drop=True)
print(len(pop_market))
pop_market.head(3)

369

,순위,관광지명,주소,Latitude,Longitude,분류,검색수,시도,종류
0,1,속초관광수산시장,강원 속초시 중앙로147번길 16-0,38.204541,128.590178,시장,820423,강원,외지인
1,1,통영중앙전통시장,경남 통영시 중앙시장1길 14-16,34.845294,128.424643,시장,681236,경남,외지인
2,7,오산오색시장,경기 오산시 오산로278번길 10-0,37.151605,127.069517,시장,590296,경기,외지인

In [41]:
centre = []

for i in code_market_count['시장(상점가명)']:
    if i in list(pop_market['관광지명']):
        centre.append(1)
    else:
        centre.append(0)
        
print(len(centre))
print(centre.count(1))
print(centre.count(0))

1314
88
1226

In [42]:
pop_market['관광지명']

0         속초관광수산시장
1         통영중앙전통시장
2           오산오색시장
3      가락동농수산물도매시장
4         킨텍스제1전시장
          ...
364           대인시장
365         수암상가시장
366         송정5일시장
367           운암시장
368        조치원중앙시장
Name: 관광지명, Length: 369, dtype: object

In [43]:
df_centre = pd.DataFrame(centre)
print(len(df_centre))
print(len(code_market_count))

1314
1314

In [44]:
pop_market_yn = pd.concat([code_market_count['시장(상점가명)'], df_centre],axis=1)
pop_market_yn.columns = ['시장(상점가명)','market_pop_yn']
pop_market_yn

        시장(상점가명)  market_pop_yn
0     (유)문경시중앙시장              0
1         (주)서시장              0
2        (주)신정시장              0
3        (주)야음시장              0
4      (주)여수수산시장              0
...          ...            ...
1309        후생시장              0
1310        후암시장              0
1311        후포시장              0
1312      흥덕전통시장              0
1313        흥해시장              0

[1314 rows x 2 columns]

In [45]:
pop_market_yn.groupby(['market_pop_yn']).count()

               시장(상점가명)
market_pop_yn
0                  1226
1                    88

In [46]:
pop_market_yn.to_csv('market_pop_yn.csv',index=False)

### 내외국인 관심 관광지에 시장이 있는 지 확인

In [47]:
final_pop_lofor = pd.read_csv('final_pop_lofor.csv')
final_pop_lofor.head(3)

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),중구 서울특별시 동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851,중구 서울특별시 동대문디자인플라자(DDP),37.567947,127.009392
1,국어권,성동구,서울특별시,서울숲,성동구 서울특별시 서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032,성동구 서울특별시 서울숲,37.544388,127.037442
2,국어권,종로구,서울특별시,익선동,종로구 서울특별시 익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833,종로구 서울특별시 익선동,37.574348,126.989706

In [48]:
pop_lofor_market = find_market_in_data(final_pop_lofor,'관광지명')
pop_lofor_market = pop_lofor_market.reset_index(drop=True)
print(len(pop_lofor_market))
pop_lofor_market.head(3)

117

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
0,국어권,중구,서울특별시,황학동 벼룩시장 (도깨비시장 / 만물시장),중구 서울특별시 황학동 벼룩시장 (도깨비시장 / 만물시장),https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,2329,중구 서울특별시 황학동 벼룩시장 (도깨비시장 / 만물시장),37.557914,127.013670
1,국어권,종로구,서울특별시,동대문종합시장 한복상가,종로구 서울특별시 동대문종합시장 한복상가,https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,1373,종로구 서울특별시 동대문종합시장 한복상가,37.559984,126.975307
2,국어권,종로구,서울특별시,광장시장,종로구 서울특별시 광장시장,https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,1370,종로구 서울특별시 광장시장,37.518727,126.921896

In [49]:
centre = []

for i in code_market_count['시장(상점가명)']:
    if i in list(pop_lofor_market['관광지명']):
        centre.append(1)
    else:
        centre.append(0)
        
print(len(centre))
print(centre.count(1))
print(centre.count(0))

1314
5
1309

In [50]:
def caculate_distance_w_market(standard_data, data, standard_datacolumns, datacolumns, radius):
    from geopy.distance import geodesic
    try :
        df_list = []

        for i in range(len(standard_data)):
            current_location = (standard_data['Latitude'][i], standard_data['Longitude'][i])
            
            for j in range(len(data)):
                location = (data['Latitude'][j], data['Longitude'][j])
                distance = geodesic(current_location, location).meters

                if distance <= radius:
                    df_list.append([
                        standard_data[standard_datacolumns][i],
                        standard_data['Latitude'][i],
                        standard_data['Longitude'][i],
                        data[datacolumns][j],
                        data['Latitude'][j],
                        data['Longitude'][j]
                    ])
    except :
        print('pass')
        pass
    
    try:
        df = pd.DataFrame(df_list)
        df.columns = ['시장(상점가명)','Latitude','Longitude','관광지명','위도(관광지)','경도(관광지)']
        df = df.drop_duplicates(['시장(상점가명)','관광지명'], keep = 'first')
        
    except :
        pass

    return df

In [51]:
a = caculate_distance_w_market(pop_lofor_market, pop_lofor_market, '관광지명', '관광지명', 100)
a = a[a['시장(상점가명)'] != a['관광지명']]
a
#믿을게 아니다...

,시장(상점가명),Latitude,Longitude,관광지명,위도(관광지),경도(관광지)
4,망원시장,37.528430,126.933078,Busan Haeundae Traditional Market (부산 해운대전통시장),37.528430,126.933078
56,Busan Haeundae Traditional Market (부산 해운대전통시장),37.528430,126.933078,망원시장,37.528430,126.933078
69,釜山海云台市?부산 해운대시장,35.155320,129.145930,大邱和平市場??街 (대구 평화시장 닭똥집 골목),35.155320,129.145930
80,大邱和平市場??街 (대구 평화시장 닭똥집 골목),35.155320,129.145930,釜山海云台市?부산 해운대시장,35.155320,129.145930
85,蘇?浦?合魚市場（소래포구 종합어시장）,35.871787,128.591169,新浦??市?신포국제시장,35.871787,128.591169
87,新浦??市?신포국제시장,35.871787,128.591169,蘇?浦?合魚市場（소래포구 종합어시장）,35.871787,128.591169
95,大田中央市場（대전 중앙시장）,37.476052,126.468502,大田中央市?(대전 중앙시장),37.476052,126.468502
96,大田中央市?(대전 중앙시장),37.476052,126.468502,大田中央市場（대전 중앙시장）,37.476052,126.468502

In [52]:
pop_lofor_market.drop_duplicates('관광지명',keep='first')

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
0,국어권,중구,서울특별시,황학동 벼룩시장 (도깨비시장 / 만물시장),중구 서울특별시 황학동 벼룩시장 (도깨비시장 / 만물시장),https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,2329,중구 서울특별시 황학동 벼룩시장 (도깨비시장 / 만물시장),37.557914,127.013670
1,국어권,종로구,서울특별시,동대문종합시장 한복상가,종로구 서울특별시 동대문종합시장 한복상가,https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,1373,종로구 서울특별시 동대문종합시장 한복상가,37.559984,126.975307
2,국어권,종로구,서울특별시,광장시장,종로구 서울특별시 광장시장,https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,1370,종로구 서울특별시 광장시장,37.518727,126.921896
3,국어권,마포구,서울특별시,망원시장,마포구 서울특별시 망원시장,https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,1368,마포구 서울특별시 망원시장,37.528430,126.933078
4,국어권,중구,부산광역시,부산 자갈치시장,중구 부산광역시 부산 자갈치시장,https://korean.visitkorea.or.kr/detail/ms_deta...,쇼핑,쇼핑,상설시장,4564,중구 부산광역시 부산 자갈치시장,35.171448,129.197079
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,영어권,서귀포시,제주특별자치도,Seogwipo Maeil Olle Market (서귀포매일 올레시장),서귀포시 제주특별자치도 Seogwipo Maeil Olle Market (서귀포매일...,https://english.visitkorea.or.kr/enu/ATR/SI_EN...,쇼핑,쇼핑,상설시장,187,서귀포시 제주특별자치도 Seogwipo Maeil Olle Market (서귀포매일...,34.928823,127.498088
113,일본어,제주시,제주특별자치도,東門在?市場（동문재래시장）,제주시 제주특별자치도 東門在?市場（동문재래시장）,https://japanese.visitkorea.or.kr/jpn/TMC/TE_J...,쇼핑,쇼핑,상설시장,121,제주시 제주특별자치도 東門在?市場（동문재래시장）,34.772480,127.746751
114,일본어,서귀포시,제주특별자치도,西?浦?日オルレ市場（서귀포매일올레시장）,서귀포시 제주특별자치도 西?浦?日オルレ市場（서귀포매일올레시장）,https://japanese.visitkorea.or.kr/jpn/TMC/TE_J...,쇼핑,쇼핑,상설시장,51,서귀포시 제주특별자치도 西?浦?日オルレ市場（서귀포매일올레시장）,35.276286,126.149936
115,중간체,제주시,제주특별자치도,????市?(동문재래시장),제주시 제주특별자치도 ????市?(동문재래시장),https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,쇼핑,쇼핑,상설시장,42,제주시 제주특별자치도 ????市?(동문재래시장),34.760374,127.662222
116,중간체,서귀포시,제주특별자치도,西?浦每日偶?市? 서귀포매일올레시장,서귀포시 제주특별자치도 西?浦每日偶?市? 서귀포매일올레시장,https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,쇼핑,쇼핑,상설시장,37,서귀포시 제주특별자치도 西?浦每日偶?市? 서귀포매일올레시장,35.107222,127.621944

In [53]:
pop_lofor_market['관광지명']

0                      황학동 벼룩시장 (도깨비시장 / 만물시장)
1                                 동대문종합시장 한복상가
2                                         광장시장
3                                         망원시장
4                                     부산 자갈치시장
                        ...
112    Seogwipo Maeil Olle Market (서귀포매일 올레시장)
113                             東門在?市場（동문재래시장）
114                      西?浦?日オルレ市場（서귀포매일올레시장）
115                             ????市?(동문재래시장)
116                        西?浦每日偶?市? 서귀포매일올레시장
Name: 관광지명, Length: 117, dtype: object

In [54]:
df_centre = pd.DataFrame(centre)
print(len(df_centre))
print(len(code_market_count))

1314
1314

In [55]:
pop_lofor_market_yn = pd.concat([code_market_count['시장(상점가명)'], df_centre],axis=1)
pop_lofor_market_yn.columns = ['시장(상점가명)','market_pop_lofor_yn']
pop_lofor_market_yn

        시장(상점가명)  market_pop_lofor_yn
0     (유)문경시중앙시장                    0
1         (주)서시장                    0
2        (주)신정시장                    0
3        (주)야음시장                    0
4      (주)여수수산시장                    0
...          ...                  ...
1309        후생시장                    0
1310        후암시장                    0
1311        후포시장                    0
1312      흥덕전통시장                    0
1313        흥해시장                    0

[1314 rows x 2 columns]

In [58]:
pop_lofor_market_yn.groupby(['market_pop_lofor_yn']).count()

                     시장(상점가명)
market_pop_lofor_yn
0                        1309
1                           5

In [64]:
market_yn = pd.concat([market_centre,pop_market_yn,pop_lofor_market_yn],axis=1)
market_yn.head(3)
#market_yn.to_csv('market_yn.csv',index=False)

,시장(상점가명),centry_yn,시장(상점가명),market_pop_yn,시장(상점가명),market_pop_lofor_yn
0,(유)문경시중앙시장,0,(유)문경시중앙시장,0,(유)문경시중앙시장,0
1,(주)서시장,0,(주)서시장,0,(주)서시장,0
2,(주)신정시장,0,(주)신정시장,0,(주)신정시장,0

In [66]:
from functools import reduce

merge_set = reduce(lambda x,y: pd.merge(x,y, on='시장(상점가명)', how='outer'), [market_centre,pop_market_yn,pop_lofor_market_yn])
merge_set

        시장(상점가명)  centry_yn  market_pop_yn  market_pop_lofor_yn
0     (유)문경시중앙시장          0              0                    0
1         (주)서시장          0              0                    0
2        (주)신정시장          0              0                    0
3        (주)야음시장          0              0                    0
4      (주)여수수산시장          0              0                    0
...          ...        ...            ...                  ...
1309        후생시장          0              0                    0
1310        후암시장          0              0                    0
1311        후포시장          0              0                    0
1312      흥덕전통시장          0              0                    0
1313        흥해시장          0              0                    0

[1314 rows x 4 columns]

In [67]:
merge_set.to_csv('make_y.csv',index=False)

### END OF SCRIPT

In [ ]:
# #중심관광지에 있지만 code_market_count와 이름이 다른 것
# set(centre_yn['관광지명']) - set(market_centre[market_centre[0] == 1]['시장(상점가명)'])

# list(market_centre[market_centre[0] == 0]['시장(상점가명)'])
# 신정시장 = 신정상가시장,신정평화시장 (울산)
# 신정제일시장(서울)...

# -> 시장끼리 위치가 비슷한 곳 묶어버리기

In [ ]:
# print(len(centre_yn))
# for i in range(len(centre_yn)):
#     centre_yn['시군구'][i] = centre_yn['주소'][i].split(' ')[0] + ' ' +centre_yn['주소'][i].split(' ')[1]
    
# centre_yn

In [ ]:
# #for i in centre_yn['시군구'].unique():
# centre_yn['시군구'].unique()

In [ ]:
# centre_yn[centre_yn['시군구'] == '부산 중구']

In [ ]:
# import folium

# def map_reset(lat,lon):
#     new_map = folium.Map([lat,lon],zoom_start=7, tiles='cartodbpositron')
#     return new_map

# def map_marker(new_map,df,color,radius):
#     df = df[df['Latitude'].notnull() == True]
#     for i in range(len(df)):
#         try:
#             folium.Circle([df['Latitude'][i],df['Longitude'][i]],
#                       color='#fffggg',radius=radius,
#                      fill_color= color).add_to(new_map)
#         except:
#             pass
#     return new_map

In [ ]:
# new_map = map_reset(centre_yn['Latitude'].mean(),centre_yn['Longitude'].mean())
# map_marker(new_map,centre_yn,'green',radius=500)
# #전통시장 위치

In [ ]:
# def caculate_distance_w_market(standard_data, data, standard_datacolumns, datacolumns, radius):
#     from geopy.distance import geodesic
#     try :
#         df_list = []

#         for i in range(len(standard_data)):
#             current_location = (standard_data['Latitude'][i], standard_data['Longitude'][i])
            
#             for j in range(len(data)):
#                 location = (data['Latitude'][j], data['Longitude'][j])
#                 distance = geodesic(current_location, location).meters

#                 if distance <= radius:
#                     df_list.append([
#                         standard_data[standard_datacolumns][i],
#                         standard_data['Latitude'][i],
#                         standard_data['Longitude'][i],
#                         data[datacolumns][j],
#                         data['Latitude'][j],
#                         data['Longitude'][j]
#                     ])
#     except :
#         print('pass')
#         pass
    
#     try:
#         df = pd.DataFrame(df_list)
#         df.columns = ['시장(상점가명)','Latitude','Longitude','관광지명','위도(관광지)','경도(관광지)']
#         df = df.drop_duplicates(['시장(상점가명)','관광지명'], keep = 'first')
        
#     except :
#         pass

#     return df

In [ ]:
# #500미터 안에 있는 시장 -> 같은 시장이라고 봐도 무방
# df_centre = caculate_distance_w_market(centre_yn,centre_yn,'관광지명','관광지명',300)
# df_centre[df_centre['시장(상점가명)'] != df_centre['관광지명']]

In [ ]:
# code_market_count['시장(상점가명)']

In [ ]:
# new_map = map_reset(centre_yn['Latitude'].mean(),centre_yn['Longitude'].mean())
# map_marker(new_map,df_c,'green',radius=500)
# #전통시장 위치

In [ ]:
# market_centry = caculate_distance_w_market(code_market_count,centre_yn,'시장(상점가명)','관광지명',300)
# market_centry

In [ ]:
# #시장(상점가명)이 관광지명 시장과 300미터 안에 존재
# df_cen = caculate_distance_w_market(code_market_count,code_market_count,'시장(상점가명)','시장(상점가명)',300)
# df_cen = df_cen[df_cen['시장(상점가명)'] != df_cen['관광지명']]
# df_cen

In [ ]:
# #시장(상점가명)이 관광지명 시장과 100미터 안에 존재
# df_c = caculate_distance_w_market(code_market_count,centre_yn,'시장(상점가명)','관광지명',100)
# df_c = df_c[df_c['시장(상점가명)'] != df_c['관광지명']]
# df_c

# #이름으로 네이버 위치 찍어보니 다 다름... 
# # 사용 불가

In [ ]:
# maket_in_centre = df_cen['시장' in list(df_cen['시장(상점가명)']) & '시장' in list(df_cen['관광지명'])]
# maket_in_centre