In [10]:
import pandas as pd

In [11]:
#!pip install googlemaps

In [12]:
import googlemaps

api_key='AIzaSyDIauObE4LPhLdDpX4KyQK_wcVfo3o741A'
maps = googlemaps.Client(key=api_key)

In [13]:
pop_lofor = pd.read_csv('pop_lofor.csv')
pop_lofor = pop_lofor.drop(['Latitude','Longitude'],axis=1)
pop_lofor.head(5)

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),중구 서울특별시 동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,국어권,성동구,서울특별시,서울숲,성동구 서울특별시 서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,국어권,종로구,서울특별시,익선동,종로구 서울특별시 익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833
3,국어권,종로구,서울특별시,경복궁,종로구 서울특별시 경복궁,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),역사관광지,고궁,11542
4,국어권,종로구,서울특별시,창덕궁과 후원 [유네스코 세계문화유산],종로구 서울특별시 창덕궁과 후원 [유네스코 세계문화유산],https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),역사관광지,고궁,8944

In [14]:
print(len(pop_lofor))

7189

In [15]:
def geo_code(data,columns):
    Lat = [] #Latitude
    Lng = [] #Longitude
    place = []

    for i in data[columns]:
        place.append(i)
        results = maps.geocode(i)
        for result in results:
            Lat.append(result['geometry']['location']['lat'])
            Lng.append(result['geometry']['location']['lng'])
    
    lat_lng = pd.DataFrame([place,Lat,Lng]).T
    lat_lng.columns = ['주소(도로명)','Latitude','Longitude']
    lat_lng = lat_lng[lat_lng['주소(도로명)'].isnull() != True]
    return lat_lng

### 전국 외국인, 내국인 방문객

In [16]:
lat_lng = geo_code(pop_lofor,'주소')
print(len(lat_lng))
lat_lng

7189

                                       주소(도로명)   Latitude   Longitude
0                     중구 서울특별시 동대문디자인플라자(DDP)   37.567947  127.009392
1                               성동구 서울특별시 서울숲   37.544388  127.037442
2                               종로구 서울특별시 익선동   37.574348  126.989706
3                               종로구 서울특별시 경복궁   37.579617  126.977041
4             종로구 서울특별시 창덕궁과 후원 [유네스코 세계문화유산]     37.5799  126.991174
...                                        ...        ...         ...
7184     제주시 제주특별자치도 濟州泰迪熊博物館(Teseum) (제주테지움)   37.493848  130.909018
7185            제주시 제주특별자치도 國立濟州博物館 (국립제주박물관)     37.4846  130.906335
7186  제주시 제주특별자치도 濟州?島文珠蘭原生地 (제주 토끼섬 문주란 자생지)   35.823577  129.242344
7187                    제주시 제주특별자치도 楸子島 (추자도)   36.924888  128.580154
7188          서귀포시 제주특별자치도 表善日光海灘 (표선 해비치 해변)   36.252279  129.317949

[7189 rows x 3 columns]

In [17]:
final_pop_lofor = pd.merge(left = pop_lofor, right=lat_lng, left_on='주소',right_on='주소(도로명)')
print(len(final_pop_lofor))
final_pop_lofor.head(3)

7373

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),중구 서울특별시 동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851,중구 서울특별시 동대문디자인플라자(DDP),37.567947,127.009392
1,국어권,성동구,서울특별시,서울숲,성동구 서울특별시 서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032,성동구 서울특별시 서울숲,37.544388,127.037442
2,국어권,종로구,서울특별시,익선동,종로구 서울특별시 익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833,종로구 서울특별시 익선동,37.574348,126.989706

In [18]:
final_pop_lofor.tail(3)

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
7370,중번체,제주시,제주특별자치도,濟州?島文珠蘭原生地 (제주 토끼섬 문주란 자생지),제주시 제주특별자치도 濟州?島文珠蘭原生地 (제주 토끼섬 문주란 자생지),https://big5chinese.visitkorea.or.kr/cht/ATT/3...,자연,자연관광지,자연생태관광지,93,제주시 제주특별자치도 濟州?島文珠蘭原生地 (제주 토끼섬 문주란 자생지),35.823577,129.242344
7371,중번체,제주시,제주특별자치도,楸子島 (추자도),제주시 제주특별자치도 楸子島 (추자도),https://big5chinese.visitkorea.or.kr/cht/ATT/3...,자연,자연관광지,섬,87,제주시 제주특별자치도 楸子島 (추자도),36.924888,128.580154
7372,중번체,서귀포시,제주특별자치도,表善日光海灘 (표선 해비치 해변),서귀포시 제주특별자치도 表善日光海灘 (표선 해비치 해변),https://big5chinese.visitkorea.or.kr/cht/ATT/3...,자연,자연관광지,해수욕장,84,서귀포시 제주특별자치도 表善日光海灘 (표선 해비치 해변),36.252279,129.317949

In [19]:
final_pop_lofor.to_csv('final_pop_lofor.csv',index=False)

### 전국유료관광지

In [37]:
pop_pay = pd.read_csv('pop_pay.csv')
pop_pay['주소(도로명)'] = pop_pay['광역지자체명']+ ' ' + pop_pay['기초지자체명']+ ' ' + pop_pay['관광지명']
print(len(pop_pay))

3464

In [27]:
lat_lng = geo_code(pop_pay,'주소(도로명)')
print(len(lat_lng))
lat_lng

3464

                     주소(도로명)   Latitude   Longitude
0             서울특별시 송파구 롯데월드   37.50562  127.115299
1          서울특별시 용산구 국립중앙박물관  37.523851   126.98047
2              서울특별시 종로구 경복궁  37.579617  126.977041
3               서울특별시 중구 덕수궁  37.565805  126.975146
4            서울특별시 송파구 서울스카이  37.512529  127.102305
...                      ...        ...         ...
3459       제주특별자치도 서귀포시 일출랜드  35.564905  128.415444
3460      제주특별자치도 서귀포시 서복전시관   35.23345  128.681998
3461  제주특별자치도 서귀포시 서귀포도립해양공원  35.231024  128.684556
3462   제주특별자치도 서귀포시 제주국제평화센터  35.260276  128.031654
3463      제주특별자치도 서귀포시 기당미술관  35.205153  128.129791

[3464 rows x 3 columns]

In [38]:
final_pop_pay = pd.merge(left = pop_pay, right=lat_lng, on='주소(도로명)')
print(len(final_pop_pay))
final_pop_pay.head(5)

7792

,순위,광역지자체명,기초지자체명,관광지명,입장객수,주소(도로명),Latitude,Longitude
0,1,서울특별시,송파구,롯데월드,559225.0,서울특별시 송파구 롯데월드,37.50562,127.115299
1,1,서울특별시,송파구,롯데월드,559225.0,서울특별시 송파구 롯데월드,37.630696,127.096901
2,1,서울특별시,송파구,롯데월드,559225.0,서울특별시 송파구 롯데월드,37.50562,127.115299
3,1,서울특별시,송파구,롯데월드,559225.0,서울특별시 송파구 롯데월드,37.630696,127.096901
4,2,서울특별시,용산구,국립중앙박물관,365286.0,서울특별시 용산구 국립중앙박물관,37.523851,126.98047

In [44]:
final_pop_pay = final_pop_pay.sort_values('관광지명')
final_pop_pay = final_pop_pay.drop_duplicates(['주소(도로명)'],keep='last')
final_pop_pay = final_pop_pay.sort_values('입장객수', ascending=False)

print(len(final_pop_pay))
final_pop_pay.head(5)

1592

,순위,광역지자체명,기초지자체명,관광지명,입장객수,주소(도로명),Latitude,Longitude
0,1,서울특별시,송파구,롯데월드,559225.0,서울특별시 송파구 롯데월드,37.50562,127.115299
614,1,경기도,고양시,KINTEX(한국국제전시장),453836.0,경기도 고양시 KINTEX(한국국제전시장),37.304074,127.603751
5,2,서울특별시,용산구,국립중앙박물관,365286.0,서울특별시 용산구 국립중앙박물관,37.565805,126.975146
626,3,경기도,과천시,경마공원,201207.0,경기도 과천시 경마공원,37.434156,127.020127
4342,4,전라북도,무주군,무주덕유산리조트(레포츠),196005.0,전라북도 무주군 무주덕유산리조트(레포츠),35.514154,127.240152

In [45]:
final_pop_pay.to_csv('final_pop_pay.csv',index=False)

### 전국맛집

In [46]:
pop_store = pd.read_csv('pop_store.csv')
print(len(pop_store))
pop_store.head(5)

5100

   순위       관광지명                      주소     분류     검색수  시도   종류
0   1       황리단길                  경북 경주시  음식점기타  212675  경북  외지인
1   1      성심당본점     대전 중구 대종로480번길 15-0   간이음식  152700  대전  외지인
2   1  스타벅스과천DT점        경기 과천시 중앙로 277-0  카페/찻집  143584  경기  외지인
3   1     동화가든본점  강원 강릉시 초당순두부길77번길 15-0     한식  133304  강원  외지인
4   2  청초수물회속초본점       강원 속초시 엑스포로 12-36   전문음식  115487  강원  외지인

In [47]:
lat_lng = geo_code(pop_store,'주소')
print(len(lat_lng))
lat_lng.head(5)

5100

                  주소(도로명)   Latitude   Longitude
0                  경북 경주시  35.826616  129.235988
1     대전 중구 대종로480번길 15-0  36.327681  127.427314
2        경기 과천시 중앙로 277-0  37.439313  126.993813
3  강원 강릉시 초당순두부길77번길 15-0  37.791105  128.914912
4       강원 속초시 엑스포로 12-36  38.192105  128.590554

In [48]:
final_pop_store = pd.merge(left = pop_store, right=lat_lng, left_on = '주소',right_on='주소(도로명)')
print(len(final_pop_store))
final_pop_store.head(5)

12644

   순위  관광지명      주소     분류     검색수  시도   종류 주소(도로명)   Latitude   Longitude
0   1  황리단길  경북 경주시  음식점기타  212675  경북  외지인  경북 경주시  35.826616  129.235988
1   1  황리단길  경북 경주시  음식점기타  212675  경북  외지인  경북 경주시     37.048  127.085722
2   1  황리단길  경북 경주시  음식점기타  212675  경북  외지인  경북 경주시  36.613643  127.290532
3   1  황리단길  경북 경주시  음식점기타   39440  경북  현지인  경북 경주시  35.826616  129.235988
4   1  황리단길  경북 경주시  음식점기타   39440  경북  현지인  경북 경주시     37.048  127.085722

In [50]:
final_pop_store = final_pop_store.sort_values('관광지명')
final_pop_store = final_pop_store.drop_duplicates(['주소(도로명)'],keep='last')
final_pop_store = final_pop_store.sort_values('검색수', ascending=False)

print(len(final_pop_store))
final_pop_store.head(5)

2408

,순위,관광지명,주소,분류,검색수,시도,종류,주소(도로명),Latitude,Longitude
0,1,황리단길,경북 경주시,음식점기타,212675,경북,외지인,경북 경주시,35.826616,129.235988
25,1,스타벅스과천DT점,경기 과천시 중앙로 277-0,카페/찻집,171288,경기,전체,경기 과천시 중앙로 277-0,37.02944,127.083826
11,1,성심당본점,대전 중구 대종로480번길 15-0,간이음식,152700,대전,외지인,대전 중구 대종로480번길 15-0,36.504042,127.249396
107,1,포레스트아웃팅스송도점,인천 연수구 청량로 145-0,카페/찻집,128033,인천,전체,인천 연수구 청량로 145-0,36.511367,127.249084
38,2,청초수물회속초본점,강원 속초시 엑스포로 12-36,전문음식,115487,강원,외지인,강원 속초시 엑스포로 12-36,36.508251,127.262471

In [51]:
final_pop_store.to_csv('final_pop_store.csv',index=False)

### 함수화

In [53]:
import googlemaps

api_key='AIzaSyDIauObE4LPhLdDpX4KyQK_wcVfo3o741A'
maps = googlemaps.Client(key=api_key)

In [54]:
def geo_code(data,columns):
    Lat = [] #Latitude
    Lng = [] #Longitude
    place = []

    for i in data[columns]:
        place.append(i)
        results = maps.geocode(i)
        for result in results:
            Lat.append(result['geometry']['location']['lat'])
            Lng.append(result['geometry']['location']['lng'])
    
    lat_lng = pd.DataFrame([place,Lat,Lng]).T
    lat_lng.columns = ['주소(도로명)','Latitude','Longitude']
    #lat_lng = lat_lng[lat_lng['주소(도로명)'].isnull() != True]
    return lat_lng

In [55]:
def mk_merge(data, data_columns, lat_lng):
    mk_data = pd.merge(left = data, right=lat_lng, left_on=data_columns,right_on='주소(도로명)')
    mk_data = mk_data.sort_values('주소(도로명)')
    mk_data = mk_data.drop_duplicates(['주소(도로명)'],keep='last')
    return mk_data

In [59]:
pop_lofor.head(3)

lat_lng = geo_code(pop_lofor,'주소')
final_pop_lofor = mk_merge(pop_lofor,'주소',lat_lng)
print(len(final_pop_lofor))
final_pop_lofor.head(5)

7098

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
3990,중간체,가평군,경기도,??(자라섬),가평군 경기도 ??(자라섬),https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,자연,자연관광지,섬,171,가평군 경기도 ??(자라섬),36.376761,127.333212
4070,중간체,가평군,경기도,??汽?露??자라섬 오토캠핑장,가평군 경기도 ??汽?露??자라섬 오토캠핑장,https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,레포츠,육상 레포츠,야영장_오토캠핑장,42,가평군 경기도 ??汽?露??자라섬 오토캠핑장,35.383535,129.334084
4043,중간체,가평군,경기도,?人山道立公?(연인산도립공원),가평군 경기도 ?人山道立公?(연인산도립공원),https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,자연,자연관광지,도립공원,62,가평군 경기도 ?人山道立公?(연인산도립공원),35.53352,129.025177
3885,일본어,가평군,경기도,?平湖畔（청평호반）,가평군 경기도 ?平湖畔（청평호반）,https://japanese.visitkorea.or.kr/jpn/TMC/TE_J...,자연,자연관광지,호수,488,가평군 경기도 ?平湖畔（청평호반）,36.405558,127.442943
3870,영어권,가평군,경기도,Cheongpyeong Lake (청평호반),가평군 경기도 Cheongpyeong Lake (청평호반),https://english.visitkorea.or.kr/enu/ATR/SI_EN...,자연,자연관광지,호수,121,가평군 경기도 Cheongpyeong Lake (청평호반),36.328377,127.428239

### END OF SCRIPT