In [10]:
import pandas as pd
import glob

In [11]:
data_list = glob.glob('final_*.csv')
data_list

['final_market.csv',
 'final_pop.csv',
 'final_pop_lofor.csv',
 'final_pop_pay.csv',
 'final_pop_store.csv']

In [12]:
from geopy.distance import geodesic

In [13]:
def caculate_distance_w_market(standard_data, data, standard_datacolumns, datacolumns, radius):
    from geopy.distance import geodesic
    try :
        df_list = []

        for i in range(len(standard_data)):
            current_location = (standard_data['Latitude'][i], standard_data['Longitude'][i])
            
            for j in range(len(data)):
                location = (data['Latitude'][j], data['Longitude'][j])
                distance = geodesic(current_location, location).meters

                if distance <= radius:
                    df_list.append([
                        standard_data[standard_datacolumns][i],
                        standard_data['Latitude'][i],
                        standard_data['Longitude'][i],
                        data[datacolumns][j],
                        data['Latitude'][j],
                        data['Longitude'][j]
                    ])
    except :
        print('pass')
        pass
    
    try:
        df = pd.DataFrame(df_list)
        df.columns = ['시장(상점가명)','Latitude','Longitude','관광지명','위도(관광지)','경도(관광지)']
        df = df.drop_duplicates(['시장(상점가명)','관광지명'], keep = 'first')
        
    except :
        pass

    return df

In [14]:
data_list

['final_market.csv',
 'final_pop.csv',
 'final_pop_lofor.csv',
 'final_pop_pay.csv',
 'final_pop_store.csv']

In [15]:
final_market = pd.read_csv(data_list[0])
final_pop = pd.read_csv(data_list[1])
final_pop_lofor = pd.read_csv(data_list[2])
#final_pop_pay = pd.read_csv(data_list[3])
#final_pop_store = pd.read_csv(data_list[4])

In [16]:
market_pop = caculate_distance_w_market(final_market, final_pop,'시장(상점가명)','관광지명',1000)

print(len(market_pop))
market_pop

1810

     시장(상점가명)   Latitude   Longitude            관광지명    위도(관광지)     경도(관광지)
0     (주)신정시장  35.153048  126.879331  유스퀘어 광주종합버스터미널  35.160309  126.880131
1     (주)신정시장  35.153048  126.879331       신세계백화점광주점  35.160309  126.880131
2     (주)신정시장  35.153048  126.879331          이마트광주점  35.158814  126.882000
3     (주)신정시장  35.153048  126.879331     신세계백화점광주점신관  35.158814  126.882000
4     (주)신정시장  35.153048  126.879331            금호월드  35.157791  126.881528
...       ...        ...         ...             ...        ...         ...
4392   회성종합시장  35.221679  128.676001         캔버라관광호텔  35.221208  128.676826
4393   회성종합시장  35.221679  128.676001         롯데시네마창원  35.224542  128.681914
4405     회진시장  34.844795  127.344979             벌교역  34.842236  127.345403
4406     횡성시장  38.075027  128.623185          양양전통시장  38.075027  128.623185
4409     후포시장  36.735565  128.107401          문경종합온천  36.729833  128.109101

[1810 rows x 6 columns]

In [17]:
market_pop.to_csv('market_pop_10.csv',index=False)

In [18]:
final_pop_lofor.head(3)

,언어명,시군구명,시도명,관광지명,주소,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수,주소(도로명),Latitude,Longitude
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),중구 서울특별시 동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851,중구 서울특별시 동대문디자인플라자(DDP),37.567947,127.009392
1,국어권,성동구,서울특별시,서울숲,성동구 서울특별시 서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032,성동구 서울특별시 서울숲,37.544388,127.037442
2,국어권,종로구,서울특별시,익선동,종로구 서울특별시 익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833,종로구 서울특별시 익선동,37.574348,126.989706

In [19]:
market_pop_lofor = caculate_distance_w_market(final_market, final_pop_lofor,'시장(상점가명)','관광지명',1000)

print(len(market_pop_lofor))
market_pop_lofor

6252

,시장(상점가명),Latitude,Longitude,관광지명,위도(관광지),경도(관광지)
0,(주)신정시장,35.153048,126.879331,말바우장 / 말바우시장 (2_ 4_ 7_ 9일),35.160774,126.881210
1,(주)야음시장,36.366226,127.431569,세천유원지,36.364787,127.441119
2,(주)야음시장,36.366226,127.431569,편백산림욕장,36.365317,127.425801
3,(주)야음시장,36.366226,127.431569,Yangji Pine Resort Ski Valley (양지파인리조트 스키장),36.365689,127.441791
4,(주)야음시장,36.366226,127.431569,River Land (리버랜드),36.364787,127.441119
...,...,...,...,...,...,...
6479,회진시장,34.844795,127.344979,Jeju Gwandeokjeong Hall (관덕정(제주)),34.843889,127.343333
6480,후암시장,37.500381,126.915960,Amnam Park (부산 암남공원),37.492881,126.917271
6481,후암시장,37.500381,126.915960,Marine City (마린시티),37.499737,126.920604
6483,후암시장,37.500381,126.915960,南浦洞乾物??市場（남포동건어물도매시장）,37.493234,126.919712
6484,흥덕전통시장,36.889905,126.629612,順天樂安邑城 (순천 낙안읍성),36.891953,126.625310

In [20]:
market_pop_lofor.to_csv('market_pop_lofor_10.csv',index=False)

### END OF SCRIPT