In [1]:
import pandas as pd
import glob

In [2]:
data_list = glob.glob('*.xlsx*')
print(data_list)

['capital_market.xlsx', 'pop.xlsx', 'pop_lofor.xlsx', 'traditional_market.xlsx']

In [3]:
for i in range(len(data_list)):
    data = pd.read_excel(data_list[i])

394
900
1476
547

In [18]:
data = pd.read_excel(data_list[2])
df = data[data['Latitude'].isnull() == True]
print(df.index[0])
df

51

,언어명,시군구명,시도명,관광지명,Full Address,Latitude,Longitude,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
51,국어권,종로구,서울특별시,티테라피,종로구 서울특별시 티테라피,NaN,NaN,https://korean.visitkorea.or.kr/detail/ms_deta...,음식,음식점,카페/전통찻집,2106.0
70,국어권,영등포구,서울특별시,이랜드크루즈 (한강유람선),영등포구 서울특별시 이랜드크루즈 (한강유람선),NaN,NaN,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),휴양관광지,유람선/잠수함관광,1752.0
99,국어권,종로구,서울특별시,소소한 풍경,종로구 서울특별시 소소한 풍경,NaN,NaN,https://korean.visitkorea.or.kr/detail/ms_deta...,음식,음식점,한식,1365.0
175,국어권,양평군,경기도,추억의 청춘뮤지엄,양평군 경기도 추억의 청춘뮤지엄,NaN,NaN,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),문화시설,미술관/화랑,2225.0
545,중간체,중구,서울특별시,安重根?士?念?(안중근의사기념관),중구 서울특별시 安重根?士?念?(안중근의사기념관),NaN,NaN,https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,인문(문화/예술/역사),문화시설,기념관,185.0
634,중번체,영등포구,서울특별시,ELAND CRUISE(漢江遊覽船) (이랜드크루즈 (한강유람선)),영등포구 서울특별시 ELAND CRUISE(漢江遊覽船) (이랜드크루즈 (한강유람선)),NaN,NaN,https://big5chinese.visitkorea.or.kr/cht/ATT/3...,인문(문화/예술/역사),휴양관광지,유람선/잠수함관광,2902.0
709,영어권,가평군,경기도,Gapyeong Rail Park (가평레일파크),가평군 경기도 Gapyeong Rail Park (가평레일파크),NaN,NaN,https://english.visitkorea.or.kr/enu/ATR/SI_EN...,레포츠,육상 레포츠,트래킹,2399.0
796,영어권,용인시 기흥구,경기도,Nam June Paik Art Center (백남준아트센터),용인시 기흥구 경기도 Nam June Paik Art Center (백남준아트센터),NaN,NaN,https://english.visitkorea.or.kr/enu/ATR/SI_EN...,인문(문화/예술/역사),문화시설,미술관/화랑,124.0
907,중간체,가평군,경기도,加平?路自行?(가평레일파크),가평군 경기도 加平?路自行?(가평레일파크),NaN,NaN,https://chinese.visitkorea.or.kr/chs/ATR/SI_CH...,레포츠,육상 레포츠,트래킹,264.0
1067,중번체,용인시 기흥구,경기도,白南準藝術中心 (백남준아트센터),용인시 기흥구 경기도 白南準藝術中心 (백남준아트센터),NaN,NaN,https://big5chinese.visitkorea.or.kr/cht/ATT/3...,인문(문화/예술/역사),문화시설,미술관/화랑,151.0
1180,영어권,서구,인천광역시,Nokcheongja Museum (녹청자박물관),서구 인천광역시 Nokcheongja Museum (녹청자박물관),NaN,NaN,https://english.visitkorea.or.kr/enu/ATR/SI_EN...,인문(문화/예술/역사),문화시설,전시관,34.0

In [12]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]

In [19]:
latitude = []
longitude =[]

address = df['Full Address']

for i in address:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])
    
lat_log = pd.DataFrame([latitude,longitude]).T
lat_log.columns = ['Latitude','Longitude']

In [28]:
lat_log['관광지명'] = df['관광지명']
lat_log

       Latitude   Longitude                                  관광지명
51     0.000000    0.000000                                  티테라피
70     0.000000    0.000000                        이랜드크루즈 (한강유람선)
99    37.593662  126.966025                                소소한 풍경
175    0.000000    0.000000                             추억의 청춘뮤지엄
545    0.000000    0.000000                    安重根?士?念?(안중근의사기념관)
634    0.000000    0.000000  ELAND CRUISE(漢江遊覽船) (이랜드크루즈 (한강유람선))
709   37.829094  127.516244           Gapyeong Rail Park (가평레일파크)
796   37.269118  127.110568    Nam June Paik Art Center (백남준아트센터)
907   37.829094  127.516244                       加平?路自行?(가평레일파크)
1067   0.000000    0.000000                     白南準藝術中心 (백남준아트센터)
1180   0.000000    0.000000           Nokcheongja Museum (녹청자박물관)

In [26]:
lat_log.index = df['관광지명'].index

In [27]:
lat_log

       Latitude   Longitude 관광지명
51     0.000000    0.000000  NaN
70     0.000000    0.000000  NaN
99    37.593662  126.966025  NaN
175    0.000000    0.000000  NaN
545    0.000000    0.000000  NaN
634    0.000000    0.000000  NaN
709   37.829094  127.516244  NaN
796   37.269118  127.110568  NaN
907   37.829094  127.516244  NaN
1067   0.000000    0.000000  NaN
1180   0.000000    0.000000  NaN