In [10]:
import zipfile
import os
import glob

import pandas as pd

In [2]:
csv_list = glob.glob('**.csv')

for csv in csv_list:
    try:
        os.remove(csv)
    except OSError as e:
        print("Error: %s : %s" % (csv, e.strerror))

In [11]:
zip_list = glob.glob('**.zip')

for i in zip_list:
    zipfile.ZipFile(i).extractall()
    
csv_list = glob.glob('**.csv')

In [3]:
def mk_sido(data):
    add_list = []
    for i in range(len(data)):
        add_list.append(data['주소'][i][:2])
    data['시도'] = add_list
    return data

def mk_sort(data):
    data = data.sort_values(data.columns[4], ascending=False, ignore_index=True)
    return data

def mk_df(name, sido = True):
    df = pd.DataFrame()
    list_csv = glob.glob(name)
    for i in list_csv:
        data = pd.read_csv(i, encoding='cp949')
        df = pd.concat([df,data],axis=0, ignore_index=True)
        
    
    if sido == True:
        df = mk_sido(df)
        df = mk_sort(df)
        df.columns = ['순위','관광지명','주소','분류','검색수','시도']
       
    return df

### 인기관광지

In [5]:
pop_out = mk_df('*_인기관광지_외지인.csv')
pop_in = mk_df('*_인기관광지_현지인.csv')
pop_all = mk_df('*_인기관광지_전체.csv')

In [6]:
pop_out['종류'] = '외지인'
pop_in['종류'] = '현지인'
pop_all['종류'] = '전체'

pop = pd.DataFrame()
pop = pd.concat([pop,pop_out,pop_in,pop_all],axis=0)
pop.head(3)

   순위           관광지명                 주소    분류      검색수  시도   종류
0   1  인천국제공항제1여객터미널    인천 중구 공항로 272-0  교통시설  2223643  인천  외지인
1   1         스타필드하남  경기 하남시 미사대로 750-0   쇼핑몰  1945622  경기  외지인
2   1      김포국제공항국내선   서울 강서구 하늘길 111-0  교통시설  1671746  서울  외지인

In [7]:
pop.to_csv('pop.csv',index=False)

### 외국인, 내국인 관심 관광지

In [8]:
pop_local = mk_df('*_내국인 관심*.csv',sido=False)
pop_for = mk_df('*_외국인 관심*.csv',sido=False)

In [9]:
pop_local.head(3)

,시군구명,시도명,관광지명,Unnamed: 3,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,중구,서울특별시,동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,성동구,서울특별시,서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,종로구,서울특별시,익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833

In [10]:
pop_local.insert(0,'언어명','국어권')
pop_local.head(5)

,언어명,시군구명,시도명,관광지명,Unnamed: 3,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,국어권,성동구,서울특별시,서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,국어권,종로구,서울특별시,익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833
3,국어권,종로구,서울특별시,경복궁,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),역사관광지,고궁,11542
4,국어권,종로구,서울특별시,창덕궁과 후원 [유네스코 세계문화유산],https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),역사관광지,고궁,8944

In [11]:
pop_local.columns  = ['언어명', '시군구명', '시도명', '관광지명','웹사이트', 
                      'KTO카테고리대분류명', 'KTO카테고리중분류명', 'KTO카테고리소분류명', '방문자수']
pop_for.columns = ['언어명', '시군구명', '시도명', '관광지명','웹사이트',
                   'KTO카테고리대분류명', 'KTO카테고리중분류명', 'KTO카테고리소분류명', '방문자수']

pop_lofor = pd.concat([pop_local,pop_for],axis=0)
pop_lofor.head(3)

,언어명,시군구명,시도명,관광지명,웹사이트,KTO카테고리대분류명,KTO카테고리중분류명,KTO카테고리소분류명,방문자수
0,국어권,중구,서울특별시,동대문디자인플라자(DDP),https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),산업관광지,기타,20851
1,국어권,성동구,서울특별시,서울숲,https://korean.visitkorea.or.kr/detail/ms_deta...,자연,자연관광지,자연생태관광지,13032
2,국어권,종로구,서울특별시,익선동,https://korean.visitkorea.or.kr/detail/ms_deta...,인문(문화/예술/역사),체험관광지,이색체험,12833

In [12]:
pop_lofor.to_csv('pop_lofor.csv', index=False)

### 주요 유료관광지점

In [13]:
pop_pay = mk_df('*_주요 유료관광지점*.csv', sido=False)
pop_pay = pop_pay[pop_pay['기준연월'] == 202212]
pop_pay = pop_pay.drop(['기준연월','Unnamed: 6'],axis=1)
pop_pay.head(3)

    순위 광역지자체명 기초지자체명     관광지명      입장객수
6    1  서울특별시    송파구     롯데월드  559225.0
18   2  서울특별시    용산구  국립중앙박물관  365286.0
30   3  서울특별시    종로구      경복궁  199536.0

In [14]:
pop_pay.to_csv('pop_pay.csv',index=False)

### 중심관광지

In [12]:
pop_centre = mk_df('*중심 관광지*.csv', sido=False)
pop_centre.columns = ['Latitude','Longitude','관광지명','주소','중심카테고리명','대분류','순위']
pop_centre.head(3)

   Latitude  Longitude        관광지명                  주소 중심카테고리명 대분류  순위
0  126.9282    37.5260      더현대/서울  서울 영등포구 여의대로 108-0     관광지  쇼핑   1
1  127.0042    37.5050  신세계백화점/강남점   서울 서초구 신반포로 176-0     관광지  쇼핑   2
2  126.9034    37.5172       타임스퀘어    서울 영등포구 영중로 15-0     관광지  쇼핑   3

In [13]:
pop_centre.to_csv('pop_centre.csv',index=False)

### 목적지 유형별 검색량 (보류)

pop_type = mk_df('*목적지*.csv', sido=False)
pop_type.head(3)

pop_type = pop_type[pop_type['기준연월'] == 202212]
pop_type

### 지역 맛집

In [17]:
pop_store_out = mk_df('*맛집_외지인.csv')
pop_store_in = mk_df('*맛집_현지인.csv')
pop_store_all = mk_df('*맛집_전체.csv')

In [18]:
pop_store_out['종류'] = '외지인'
pop_store_in['종류'] = '현지인'
pop_store_all['종류'] = '전체'

pop_store = pd.DataFrame()
pop_store = pd.concat([pop_store,pop_store_out,pop_store_in,pop_store_all],axis=0)
pop_store.head(5)

   순위       관광지명                      주소     분류     검색수  시도   종류
0   1       황리단길                  경북 경주시  음식점기타  212675  경북  외지인
1   1      성심당본점     대전 중구 대종로480번길 15-0   간이음식  152700  대전  외지인
2   1  스타벅스과천DT점        경기 과천시 중앙로 277-0  카페/찻집  143584  경기  외지인
3   1     동화가든본점  강원 강릉시 초당순두부길77번길 15-0     한식  133304  강원  외지인
4   2  청초수물회속초본점       강원 속초시 엑스포로 12-36   전문음식  115487  강원  외지인

In [19]:
pop_store.to_csv('pop_store.csv',index=False)

In [3]:
csv_list = glob.glob('**.csv')

for csv in csv_list:
    try:
        os.remove(csv)
    except OSError as e:
        print("Error: %s : %s" % (csv, e.strerror))

### END OF SCRIPT